/*
 * Module-specific configurations
 */

process {
    withName: 'clump_gwas' {
        cpus = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        time = { 2.h * task.attempt }
    }
    
    withName: 'prep_eqtl' {
        cpus = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        time = { 2.h * task.attempt }
    }
    
    withName: 'run_coloc' {
        cpus = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    
    withName: 'plot_results' {
        cpus = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        time = { 2.h * task.attempt }
    }
    
    withName: 'generate_report' {
        cpus = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        time = { 2.h * task.attempt }
    }
}
